# Dependências
node_modules/
.pnp
.pnp.js

# Produção / Build
dist/
build/
out/
.next/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de Ambiente)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor (VS Code)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.iws
*.iml
*.ipr
.DS_Store

# Tailwind / PostCSS
.eslintcache
.stylelintcache

# Testes
coverage/